extends layout

block content       
        each post in exercisePrograms
            form(action='/createProgramLog', method='POST',role='form')
                input(type="hidden" name="programToSave" value=post._id.id)
                div
                    table
                        thead
                            tr
                                th Exercises in program:
                        tbody
                            if post
                                each item in post.program
                                    tr

                                            td=item
                                            td 
                input(type="submit", value="Save")
                                                
        div
            table
                thead
                    tr
                        th Time
                        th Program name
                tbody
                    each post in programLogs
                        tr
                            td=post.datetime
                            td
                                div
                                    table
                                        thead
                                            tr
                                                th Exercises in program:
                                        tbody
                                            if post.program
                                                each item in post.program
                                                    tr
                                                            td=item